@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div style="margin: 40px 10px 20px 10px;">

    <form method="post">
        <div class="row" style="margin:10px;">
            <label for="UserName" class="col-sm-2">User:</label>
            <input type="text" class="col-sm-5 form-control" name="UserName" value="" autocomplete="off" />
        </div>
        <div class="row" style="margin:10px;">
            <label for="Message" class="col-sm-2">Message:</label>
            <input type="text" class="col-sm-5 form-control" name="Message" value="" autocomplete="off" />
        </div>
        <div class="row col-sm-3" style="margin:10px;">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

    <hr>

    <ul id="messagesList">
        @foreach (var message in @Model.messagesList)
        {
            <li>@message</li>
        }
    </ul>

</div>
